# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Database URL
DATABASE_URL=

# Required for email auth – setup instructions here: https://next-auth.js.org/providers/email#configuration
EMAIL_SERVER=smtp://<USER>:<PASSWORD>@<SERVER_NAME>:<PORT>
EMAIL_FROM=noreply@example.com

# Generate a random secret here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=
